    <header>
    	<div class="avatar"><a href="{{site.url}}"><img src="{{site.url}}/uploads/main/andybrown.jpeg" alt="Andy Brown"></a></div>
		<div class="sitename">
			<h1><span class="sitenamebracket">[</span><a href="{{site.url}}">{{site.name}}</a><span class="sitenamebracket">]</span></h1>
		</div>
		<div class="kicker">Design <span>&#9679;</span> Animation <span>&#9679;</span> Geek</div>
		
		<nav id="Slidenav">
			<ul>
				<li><a href="{{site.url}}" title="Home">&#95;Home</a></li>
				<li><a href="{{site.url}}/blog/" title="Blog">&#95;Blog</a></li>
				<li><a href="{{site.url}}/resources/" title="Resources">&#95;Resources</a></li>
				<li><a href="{{site.url}}/about/" title="About Andy">&#95;About</a></li>
				<!-- <li><a href="{{site.url}}/archive/" title="Archive">&#95;Archive</a></li> -->
				<li><a href="{{site.url}}/contact/" title="Contact Andy">&#95;Contact</a></li>
			</ul>
		</nav>
		<button id="roundButton">Menu</button>
	</header>