<div class="social-share">
	<h2>Like this post? feel free to share it with your mates</h2>
	
	<a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook" class="facebook">Facebook</a>
	
	<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter }}&related={{ site.twitter }}" rel="nofollow" target="_blank" title="Share on Twitter" class="twitter">Twitter</a>
	
	<a href="mailto:?subject={{ page.title }}&amp;body=Check out this post {{ site.url }}{{site.baseurl}}{{ page.url }}" title="Share on Email" class="email" target="_blank">Email</a>
<div class="clear"></div>
</div>