<!-- If you liked this post, you can
<a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=lillegz" target="_blank">
  share it with your followers</a> 
or 
<a href="https://twitter.com/lillegz">
  follow me on Twitter</a>!
  
  
 If you liked this post, you can
<a href="https://twitter.com/intent/tweet?url=&text=via=lillegz&Hey+Andy+How+Are+You?" 
   target="_blank">
  share it with your followers</a> 
or 
<a href="https://twitter.com/lillegz">
  follow me on Twitter</a>
  or
  <a href="https://twitter.com/intent/tweet?screen_name=lillegz&via=lillegz&text=Hello+Andy&hashtags=greetings,welcome" target="_blank" data-related="LilLegz">
  Suck My Balls</a>!
 	--> 